---
layout: default
title: Home
use-css:
- index.css
use-js:
- index.js
---
<div id="top">
<h1>PMOB</h1>
<ul>
	<a href="#notice" class="smooth">
		<li>
			<p>やるの</p>
			<p>NOTICE</p>
		</li>
	</a>
	<a href="#history" class="smooth">
		<li>
			<p>やったの</p>
			<p>HISTORY</p>
		</li>
	</a>
	<a href="#about" class="smooth">
		<li>
			<p>何なの</p>
			<p>ABOUT</p>
		</li>
	</a>
	<a href="#members" class="smooth">
		<li>
			<p>人たち</p>
			<p>MEMBERS</p>
		</li>
	</a>
	<a href="#works" class="smooth">
		<li>
			<p>作った</p>
			<p>WORKS</p>
		</li>
	</a>
</ul>
</div>
{% capture TODAY %}{{ site.time | date: "%Y%m%d" }}{% endcapture %}
<section id="notice">
		{% for post in site.posts limit:3 %}
		{% capture post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
		{% if post_date >= TODAY %}
		<article>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			{{ post.excerpt }}
		</article>
		{% endif %}
		{% endfor %}
</section>
<section id="history">
	<h1>活動記録</h1>
	<ul>
		{% for post in site.posts limit:7 %}
		{% capture post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
		{% if post_date < TODAY %}
		<li><a href="{{ post.url }}">{{ post.title }}</a><time>{{ post.date | date: "%b / %Y" }}</time></li>
		{% endif %}
		{% endfor %}
	</ul>
</section>
<section id="about">
	<h1>PMOBとは</h1>
	<p>
	PMOBは、
	2015年に東京電機大学にて創設された
	プログラミングと数学に興味ある学生が集まって作られたサークルです。
	</p>
	<p>
	現在、サークルでは計算機科学に関連する
	ソフトフェア、ネットワーク等についての知識の共有や、
	東京電機大学(鳩山キャンパス)における
	プログラミング欲を満たせない難民を救うといった、
	慈善活動も執り行っています。
	</p>
	<p>
	サークルとしては何か強制されるようなものは無く、
	各メンバーは自由に好きなことをやっている感じです。
	</p>
</section>
<section id="members">
	<h1>メンバー</h1>
	<table>
		<thead>
			<tr>
				<th>名前</th>
				<th>ひとこと</th>
				<th>コンソメ</th>
			</tr>
		</thead>
		<tbody>
			{% for member in site.data.members %}
			<tr>
				<td>{{ member.name }}</td>
				<td>{{ member.message }}</td>
				<td>
					{% if member.github != null %}
					<a href="https://github.com/{{ member.github }}"><img alt="github" src="assets/images/GitHub-Mark-32px.png" class="linkicon"></a>
					{% endif %}
					{% if member.twitter != null %}
					<a href="https://twitter.com/{{ member.twitter }}"><img alt="github" src="assets/images/TwitterLogo.png" class="linkicon"></a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
<section id="works">
	<h1>つくったの</h1>
	<ul>
		<li><a href="yomuyatu/">読むやつ</a></li>
		<li><a href="https://github.com/PMOB">Organization on GitHub</a></li>
		<ul>
			<li><a href="https://github.com/PMOB/study-tex">study-tex</a></li>
		</ul>
	</ul>
</section>
