@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Play);

body{
	background-color: #50b0a0;
	margin: 0 auto;
	width: 800px;
}


/***  article box ***/
article{
	border: 3px solid #494949;
	width: 600px;
	margin: 60px auto;
	padding: 32px 40px 40px;
	background-color: #fff5e6;
	font-family: 'Montserrat', "Noto Sans Japanese", sans-serif;
	color: #494949;
	/* 影つける */
	box-shadow:
		/* 影（インパクト：赤） */
		3px -3px #894949,
		/* 影（実影：文字色） */
		6px -6px #494949;
	font-size: 0.9rem;
}

/* h1 - h4 */
article h1{
	margin: 0;
	padding: 0;
	font-size: 3.2rem;
}
article h2{
	margin: 0;
	padding: 0;
	font-size: 2.8rem;
}
article h3{
	margin: 0;
	padding: 0;
	font-size: 2.4rem;
}

/* contens */
article p{}
article em{}
article strong{}
article a{}
article hr{}
article time{ float: right; }
article img{ margin: 0 5%; width: 90%; }
article img.linkicon{ width: 16px; height: 16px; }

/* code */
article code{}

/* table */
article table{ border-spacing: 12px 0; }
article thead{}
article tbody{}
article tr{}
article th{ margin-right: 40px; }
article td{ padding: 0 8px; border-bottom: 1.6px solid #909090; }
/*** /article box ***/


a.ghost{
	border-radius: 2px;
	border: 2px solid #50b0a0;
	padding: 2px 8px;
	float: right;
	font-size: 0.6rem;
	text-decoration: none;
	color: #494949;
	background-color: none;
	transition: background-color 0.3s, color 0.1s;
}
a.ghost:hover {
	color: #fff5e6;
	background-color: #50b0a0;
}
