<script>
function invite(){
	console.log("そこでコンソールを見ている君！");
	// console.log("え、ソース見てるの？");
	// console.log("どっちでもいいけど。");
	console.log("自爆スイッチとかいう意味不明なアンカー押しちゃう上に")
	console.log("癖でコンソール確認しちゃうあなたが求めていたサークルがあります");
	// console.log("まあソースかもしれないけれども");
	console.log("そう、PMOBです。そういうことです。");
	console.log("そしてこういうことですね。");
	console.log("-> https://pmob.slack.com/");
}
</script>
<header>
	<h1><a href="/">PMOB</a></h1>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/activity">活動記録</a></li>
		<li><a href="#" onclick="invite();">自爆スイッチ</a></li>
	</ul>
</header>
