/* fonts */
$base-font: 'Montserrat', sans-serif;
$code-font: 'Inconsolata', monospace;

/* colors */
$wall-color: #50b0a0;
$bg-color: #fff5e6;
$darker-bg-color: #fce0c7;
$base-color: #494949;
$emph-color: #904949;
$weak-color: #4989c9;
$effect-color: #c060c0;
$darker-wall-color: #328a76;
$more-darker-wall-color: #1a6246;

/* design */
@mixin width-limit {
	width: 80%;
	margin: 0 10%;
}
