---
---
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import "variables";
@import "functions";


/*** root element ***/
html{ height: 100%; margin: 0; }


/*** sections ***/
body{
	/* 概形 */
	@include width-limit;
	height: 100%;

	/* デザイン */
	background-color: $wall-color;
	font-family: $base-font;
	color: $base-color;
}
section{
	/* 概形 */
	width: 80%;
	margin: 8% auto;
	padding: 1% 5%;
	@include vprefix(padding-bottom, calc(1% + 40px));
	font-size: 0.9em;

	/* デザイン */
	border: 3px solid $base-color;
	background-color: $bg-color;
	font-family: $base-font;
	color: $base-color;
	box-shadow: // 影つける
	3px -3px $emph-color, // 影（インパクト：赤）
	6px -6px $base-color; // 影（実影：文字色）

	/* children */
	article{
		border: none;
	}
}
article{
	@extend section;
}

/* h1 - h6 */
h1{ font-size: 1.8em; }
h2{ font-size: 1.4em; }
h3{ font-size: 1.2em; }

/* edge sections */
header{
	@include prefix(box-sizing, border-box);
	width: 125%;
	margin-left: -12.5%;
	background: $darker-wall-color;
	h1{
		margin: 0;
		padding-top: 1%;
		font-size: 2rem;
		text-align: center;
		color: $darker-bg-color;
	}
	ul{
		@include prefix(box-sizing, inherit);
		width: 100%;
		display: flex;
		justify-content: space-around;
		list-style: none;
	}
}
footer{
	margin: 2% auto;
	width: 80%;

	/* children */
	p{
		color: $darker-bg-color;
		text-align: center;
	}
}


/*** grouping content ***/
p{ text-indent: 1em; }
hr{
	background: $darker-wall-color;
	height: 1px;
	border: 0;
}


/*** text-level semantics ***/
a{
	color: $weak-color;
	text-decoration: none;

	/* pseudo class */
	&:visited{
		color: $emph-color;
	}
	&:hover{
		color: $effect-color;
		text-decoration: underline;
	}
}
time{
	float: right;
}
code{
	margin: 0 2%;
	font-family: $code-font;
}


/*** embedded content ***/
img{
	margin: 3%;
	max-width: 90%;
	border: 1px solid $base-color;
}

/*** tabular data ***/
table{
	margin: auto;
	border-spacing: 10px 6px;
}
th{
	padding: 0 8px;
	text-align: left;
}
td{
	@extend th;
	border-bottom: 1px solid $base-color;
}

/*** specific design ***/
a.more{ // 続きを読む
	float: right;
}
img.linkicon{ // twitterやらgitのアイコン用
	border: none;
	width: 16px;
	height: 16px;
}
iframe#eva{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.9;
	background: #000;
	height: 60%;
	width: 60%;
	padding: 20%;
}
