---
---
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import "variables";
@import "functions";


/*** animation ***/
/* ブルブルする */
@include keyframes(ohyeah){
	0% { transform: translate(1px, 1px) rotate(0deg); }
	25% { transform: translate(2px, -1px) rotate(0deg); }
	50% { transform: translate(0px, 1px) rotate(0deg); }
	75% { transform: translate(1px, 0px) rotate(-1deg); }
	100% { transform: translate(-1px, 0px) rotate(1deg); }
}

/*** root element ***/
*{ @include prefix(box-sizing, border-box); }
html{ height: 100%; margin: 0; }


/*** sections ***/
body{
	/* layout */
	@include width-limit;
	height: 100%;

	/* design */
	background-color: $wall-color;
	font-family: $base-font;
	color: $base-color;
}
section{
	/* layout */
	margin: 8% auto;
	padding: 1% 5%;
	@include vprefix(padding-bottom, calc(1% + 40px));
	font-size: 0.9em;

	/* design */
	border: 3px solid $base-color;
	background-color: $bg-color;
	font-family: $base-font;
	color: $base-color;
	box-shadow: // 影つける
	3px -3px $emph-color, // 影（インパクト：赤）
	6px -6px $base-color; // 影（実影：文字色）

	/* children */
	article{
		border: none;
	}
}
nav{
	color: $darker-bg-color;
	text-align: center;
	span{
		color: $base-color;
	}
	a{
		text-decoration: none;
		color: inherit;
		&:hover, &:visited{
			text-decoration: none;
			color: inherit;
		}
		&:active{
			color: $emph-color;
		}
	}
}
article{
	@extend section;
}

/* h1 - h6 */
h1{ font-size: 1.8em; }
h2{ font-size: 1.4em; }
h3{ font-size: 1.2em; }

/* edge sections */
header{
	@include fullscreen;
	background: $darker-wall-color;
	color: $darker-bg-color;
	h1{
		margin: 0;
		font-size: 2rem;
		text-align: center;
		&:hover {
			@include prefix(animation, ohyeah 0.1s linear infinite);
		}
	}
	ul{
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 1%;
		padding-top: 0;
		list-style: none;
	}
	li{
		a{
			border-bottom: 3px solid $more-darker-wall-color;
			&:hover{
				border-bottom: 3px solid $emph-color;
			}
		}
	}
	a{
		text-decoration: none;
		color: inherit;
		&:hover, &:visited{
			text-decoration: none;
			color: inherit;
		}
		&:active{
			color: $emph-color;
		}
	}
}
footer{
	margin: 2% auto;
	width: 80%;

	/* children */
	p{
		color: $darker-bg-color;
		text-align: center;
	}
}


/*** grouping content ***/
p{ text-indent: 1em; }
hr{
	background: $darker-wall-color;
	height: 1px;
	border: 0;
}


/*** text-level semantics ***/
a{
	color: $weak-color;
	text-decoration: none;

	/* pseudo class */
	&:visited{
		color: $emph-color;
	}
	&:hover{
		color: $effect-color;
		text-decoration: underline;
	}
}
time{
	float: right;
}
code{
	margin: 0 2%;
	font-family: $code-font;
}


/*** embedded content ***/
img{
	margin: 3%;
	max-width: 90%;
	border: 1px solid $base-color;
}

/*** tabular data ***/
table{
	margin: auto;
	border-spacing: 10px 6px;
}
th{
	padding: 0 8px;
	text-align: left;
}
td{
	@extend th;
	border-bottom: 1px solid $base-color;
}

/*** specific design ***/
a.more{ // 続きを読む
	float: right;
}
