---
---
@import "variables";
@import "functions";

/* ブルブルする */
@include keyframes(ohyeah){
	0% { transform: translate(2px, 2px) rotate(0deg); }
	20% { transform: translate(-2px, 2px) rotate(1deg); }
	40% { transform: translate(3px, -2px) rotate(0deg); }
	60% { transform: translate(2px, 0px) rotate(-1deg); }
	80% { transform: translate(-2px, -1px) rotate(0deg); }
	100% { transform: translate(-2px, 0px) rotate(1deg); }
}

div#bg-box{
	width: 125%;
	height: 100%;
	margin: 0 -12.5%;
	background: $darker-wall-color;
}
header{
	/* 概形 */
	@include prefix(box-sizing, border-box);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	/* デザイン */
	color: $darker-bg-color;
	h1{
		/* 概形 */
		position: absolute;
		top: 30%;
		@include width-limit;
		font-size: 8em;
		/* デザイン */
		font-family: $top-font;
		text-align: center;
		text-shadow:
		3px -3px $emph-color, // 影（インパクト：赤）
		6px -6px $base-color; // 影（実影：文字色）
		&:hover { @include prefix(animation, ohyeah 0.1s linear infinite); }
	}
	ul{
		/* 概形 */
		position: absolute;
		bottom: 10%;
		@include width-limit;
		height: 40px;
		padding: 0;
		/* デザイン */
		list-style-type: none;
		li{
			/* 概形 */
			position: relative;
			float: left;
			font-size: 1em;
			width: 16%;
			height: 100%;
			margin: 0 2%;
			/* デザイン */
			overflow: hidden;
			font-family: $index-font;
			p{
				@include prefix(box-sizing, inherit);
				/* 概形 */
				position: relative;
				width: 100%;
				height: 40px;
				margin: 0;
				padding: 6px 0;
				/* デザイン */
				color: $darker-bg-color;
				text-decoration: none;
				text-align: center;
				text-indent: 0;
				&:nth-child(even) {
					/* 概形 */
					position: absolute;
					top: 90%;
					right: 0;
					height: 26px;
					padding: 10px 0 0;
					/* デザイン */
					background-color: $more-darker-wall-color;
					border-bottom: 4px solid $emph-color;
				}
			}
		}
	}
}

a.ghost{
	/* 概形 */
	float: right;
	font-size: 0.6em;
	margin: 1% 0;
	padding: 2px 8px;
	/* デザイン */
	color: $base-color;
	text-decoration: none;
	border: 2px solid $wall-color;
	border-radius: 2px;
	background-color: none;
	transition: background-color 0.3s, color 0.1s;
	&:hover {
		color: $bg-color;
		background-color: $wall-color;
	}
}
