<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Student Programming Association named PMOB">
		<meta name="keywords" content="student,programming,math,TDU">
		<meta name="author" content="PMOB">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ page.title }} | PMOB</title>

		<link href="/assets/css/common.css" rel="stylesheet" type="text/css">
		{% for css in page.use-css %}
		<link href="/assets/css/{{ css }}" rel="stylesheet" type="text/css">
		{% endfor %}

		{% if page.use-js %}
		<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
		{% endif %}
		{% for js in page.use-js %}
		<script src="/assets/js/{{ js }}"></script>
		{% endfor %}
	</head>
	<body>
		{{ content }}
		{% include footer.html %}
	</body>
</html>
